**British Airways Revenue Forecasting 3** <br>
Oxford Saïd Business School <br>
Analysis 3: Regressions <br><br>

*Jake Schneider* <br>
MBA Candidate <br>
November 2020 <br>

----

**Load Libraries**

In [1]:
#Import libraries
import sys
import pandas as pd
from datetime import date, datetime, time, timedelta
import pendulum
import json
import requests
import numpy as np
from numpy import NaN
from numpy import nanmean
import math

import collections

import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(style='ticks', context='talk')

from matplotlib.offsetbox import AnchoredText
from sklearn import linear_model
from sklearn.metrics import r2_score
import statsmodels.formula.api as sm
#import fbprophet

import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.io as pio

import datapane as dp

import warnings
import itertools

----

**Load & Clean Macro & BA Regression Data Set**

In [2]:
# Load Continental Data

continental_df = pd.read_csv('../3_Outputs/Data/continental_df.csv')

In [3]:
# Load BA Data

ba_df = pd.read_excel('../2_Inputs/British Airways/BA Income Statement Max.xlsx', sheet_name = 'Input Data')

In [4]:
# Load BA Data 2

ba_df2 = pd.read_excel('../2_Inputs/British Airways/BA Income Statement Max.xlsx', sheet_name = 'Regional Input Data')

*Merge Macro Data with BA Income Statement*

In [5]:
# Merge Merge1 and IMF_DF

merge_df1 = pd.merge(continental_df, ba_df, how = 'left', left_on = ['Year'], right_on = ['Year'])
merge_df1

,region,Year,longitude,latitude,Population growth (annual %),"Population, total","Current account balance, Percent of GDP,","Employment, Persons, Millions","General government gross debt, Percent of GDP,","General government net debt, National currency, Billions",...,U.S. GAAP Summary,Net Income,NI to Common Incl. Extra Items,Diluted Net Income,Basic EPS Incl. Extra Items,Basic EPS Excl. Extra Items.1,Weighted Avg. Basic Shares Out..1,Diluted EPS Incl. Extra Items,Diluted EPS Excl. Extra Items.1,Weighted Avg. Diluted Shares Out..1
0,East Asia & Pacific,1980.0,102.080504,4.391124,1.947838,4.166191e+07,-2.671579,13.360000,48.810000,44619.100000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,East Asia & Pacific,1981.0,102.080504,4.391124,2.281081,4.229082e+07,-3.943158,13.531667,53.950000,57895.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,East Asia & Pacific,1982.0,102.080504,4.391124,2.442973,4.298174e+07,-3.261053,13.731667,58.960000,73262.900000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,East Asia & Pacific,1983.0,102.080504,4.391124,2.454054,4.367263e+07,-2.458421,13.896667,64.920000,90702.100000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,East Asia & Pacific,1984.0,102.080504,4.391124,2.448919,4.432978e+07,0.043158,13.988333,66.970000,51893.755000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,Combined Other Five Regions,2021.0,-14.380390,24.556544,NaN,5.300439e+07,-4.851083,23.916950,80.462533,338642.413089,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,Combined Other Five Regions,2022.0,-14.380390,24.556544,NaN,5.345879e+07,-4.076186,NaN,79.868244,417685.624486,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,Combined Other Five Regions,2023.0,-14.380390,24.556544,NaN,5.391120e+07,-3.422181,NaN,78.958078,522116.235670,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,Combined Other Five Regions,2024.0,-14.380390,24.556544,NaN,5.436135e+07,-2.997837,NaN,77.979511,661198.283142,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,Combined Other Five Regions,2025.0,-14.380390,24.556544,NaN,5.480970e+07,-2.705876,NaN,76.765554,841761.785442,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Merge Merge

reg_df = pd.merge(merge_df1, ba_df2, how = 'left', left_on = ['region', 'Year'], right_on = ['region', 'Year'])
#reg_df.tail(25)

In [7]:
# Create Log Variables

reg_df['log_GDP_per_capita'] = np.log(reg_df['Gross domestic product per capita, constant prices, Purchasing power parity; 2017 international dollar, Units'])
reg_df['log_Population_total'] = np.log(reg_df['Population, total'])
reg_df['log_Investment_total_perc_gdp'] = np.log(reg_df['Total investment, Percent of GDP, '])
reg_df['log_Net_Income'] = np.log(reg_df['  Net Income'])
reg_df['log_regional_revenues'] = np.log(reg_df['regional_revenues'])

reg_df['investment_total_perc_gdp'] = reg_df['Total investment, Percent of GDP, '] 

#reg_df.head(15)

In [8]:
# Create Region Dummy Variables

dummy_df = pd.get_dummies(reg_df['region'])
dummy_df

     Combined Other Five Regions  East Asia & Pacific  South Asia
0                              0                    1           0
1                              0                    1           0
2                              0                    1           0
3                              0                    1           0
4                              0                    1           0
..                           ...                  ...         ...
137                            1                    0           0
138                            1                    0           0
139                            1                    0           0
140                            1                    0           0
141                            1                    0           0

[142 rows x 3 columns]

In [9]:
# Concat DF

reg_df = pd.concat([reg_df, dummy_df], axis = 1)

In [10]:
# Rename 

reg_df = reg_df.rename(columns={"Combined Other Five Regions": "five_other_regions", 
                                "East Asia & Pacific": "east_asia", 
                                "South Asia": "south_asia" })

In [11]:
# Output Reg DF

reg_df = reg_df.to_csv('../3_Outputs/Data/reg_df.csv', index = False)

---

**Regressions**

In [12]:
# Load Continental Data

reg_final_df = pd.read_csv('../3_Outputs/Data/reg_df.csv')

*OLS*

In [13]:
# Regression 1

#normal_ols = sm.ols(formula='log_Net_Income ~ log_GDP_per_capita + log_Population_total + log_Investment_total_perc_gdp',
#                          data=reg_df).fit()

normal_ols = sm.ols(formula='log_Net_Income ~ log_GDP_per_capita + log_Population_total + log_Investment_total_perc_gdp',
                          data=reg_final_df[(reg_final_df.region == 'East Asia & Pacific')]).fit()

print(normal_ols.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         log_Net_Income   R-squared:                       0.343
Model:                            OLS   Adj. R-squared:                  0.272
Method:                 Least Squares   F-statistic:                     4.866
Date:                Tue, 03 Nov 2020   Prob (F-statistic):            0.00756
Time:                        14:44:23   Log-Likelihood:                -37.705
No. Observations:                  32   AIC:                             83.41
Df Residuals:                      28   BIC:                             89.27
Df Model:                           3
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                       -25.9950     99.140     -0.262      0.795    -229.075     177.085
log_GDP_per_capita                2.7983      3.045      0.919      0.366      -3.439       9.035
log_Population_total             -0.2161      6.721     -0.032      0.975     -13.984      13.552
log_Investment_total_perc_gdp     2.5304      3.291      0.769      0.448      -4.212       9.273
==============================================================================
Omnibus:                        4.091   Durbin-Watson:                   1.190
Prob(Omnibus):                  0.129   Jarque-Bera (JB):                2.668
Skew:                          -0.651   Prob(JB):                        0.263
Kurtosis:                       3.552   Cond. No.                     1.38e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.38e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [14]:
# Regression 1b

#normal_ols = sm.ols(formula='log_Net_Income ~ log_GDP_per_capita + log_Population_total + log_Investment_total_perc_gdp',
#                          data=reg_df).fit()

normal_ols = sm.ols(formula='log_regional_revenues ~ log_GDP_per_capita + log_Population_total + log_Investment_total_perc_gdp',
                          data=reg_final_df[(reg_final_df.region == 'East Asia & Pacific')]).fit()

print(normal_ols.summary())

                              OLS Regression Results
=================================================================================
Dep. Variable:     log_regional_revenues   R-squared:                       0.744
Model:                               OLS   Adj. R-squared:                  0.701
Method:                    Least Squares   F-statistic:                     17.40
Date:                   Tue, 03 Nov 2020   Prob (F-statistic):           1.48e-05
Time:                           14:44:23   Log-Likelihood:                 21.001
No. Observations:                     22   AIC:                            -34.00
Df Residuals:                         18   BIC:                            -29.64
Df Model:                              3
Covariance Type:               nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                      -102.4950     41.461     -2.472      0.024    -189.602     -15.388
log_GDP_per_capita               -0.8905      0.827     -1.077      0.296      -2.628       0.847
log_Population_total              6.5243      2.713      2.405      0.027       0.825      12.224
log_Investment_total_perc_gdp     0.3622      0.666      0.544      0.593      -1.038       1.762
==============================================================================
Omnibus:                        0.827   Durbin-Watson:                   0.672
Prob(Omnibus):                  0.661   Jarque-Bera (JB):                0.737
Skew:                           0.134   Prob(JB):                        0.692
Kurtosis:                       2.145   Cond. No.                     3.92e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.92e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [15]:
# Regression 2

#normal_ols = sm.ols(formula='log_Net_Income ~ log_GDP_per_capita + log_Population_total + log_Investment_total_perc_gdp',
#                          data=reg_df).fit()

normal_ols = sm.ols(formula='log_Net_Income ~ log_GDP_per_capita + log_Population_total + log_Investment_total_perc_gdp',
                          data=reg_final_df[(reg_final_df.region == 'South Asia')]).fit()

print(normal_ols.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         log_Net_Income   R-squared:                       0.402
Model:                            OLS   Adj. R-squared:                  0.337
Method:                 Least Squares   F-statistic:                     6.262
Date:                Tue, 03 Nov 2020   Prob (F-statistic):            0.00218
Time:                        14:44:23   Log-Likelihood:                -36.205
No. Observations:                  32   AIC:                             80.41
Df Residuals:                      28   BIC:                             86.27
Df Model:                           3
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                       182.7227    113.245      1.614      0.118     -49.249     414.694
log_GDP_per_capita                6.8656      2.821      2.434      0.022       1.087      12.644
log_Population_total            -12.2918      7.497     -1.640      0.112     -27.649       3.066
log_Investment_total_perc_gdp    -0.5009      2.969     -0.169      0.867      -6.584       5.582
==============================================================================
Omnibus:                        3.617   Durbin-Watson:                   1.452
Prob(Omnibus):                  0.164   Jarque-Bera (JB):                2.824
Skew:                          -0.728   Prob(JB):                        0.244
Kurtosis:                       3.001   Cond. No.                     1.69e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.69e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [16]:
# Regression 2b

#normal_ols = sm.ols(formula='log_Net_Income ~ log_GDP_per_capita + log_Population_total + log_Investment_total_perc_gdp',
#                          data=reg_df).fit()

normal_ols = sm.ols(formula='log_regional_revenues ~ log_GDP_per_capita + log_Population_total + log_Investment_total_perc_gdp',
                          data=reg_final_df[(reg_final_df.region == 'South Asia')]).fit()

print(normal_ols.summary())

                              OLS Regression Results
=================================================================================
Dep. Variable:     log_regional_revenues   R-squared:                       0.866
Model:                               OLS   Adj. R-squared:                  0.843
Method:                    Least Squares   F-statistic:                     38.70
Date:                   Tue, 03 Nov 2020   Prob (F-statistic):           4.67e-08
Time:                           14:44:23   Log-Likelihood:                 27.049
No. Observations:                     22   AIC:                            -46.10
Df Residuals:                         18   BIC:                            -41.73
Df Model:                              3
Covariance Type:               nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                       -22.9407     23.423     -0.979      0.340     -72.150      26.269
log_GDP_per_capita                0.2450      0.483      0.508      0.618      -0.769       1.259
log_Population_total              1.4777      1.483      0.997      0.332      -1.638       4.593
log_Investment_total_perc_gdp    -0.1928      0.368     -0.524      0.606      -0.965       0.580
==============================================================================
Omnibus:                       11.229   Durbin-Watson:                   1.586
Prob(Omnibus):                  0.004   Jarque-Bera (JB):               10.119
Skew:                          -1.117   Prob(JB):                      0.00635
Kurtosis:                       5.459   Cond. No.                     3.00e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large,  3e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [17]:
# Regression 3

#normal_ols = sm.ols(formula='log_Net_Income ~ log_GDP_per_capita + log_Population_total + log_Investment_total_perc_gdp',
#                          data=reg_df).fit()

normal_ols = sm.ols(formula='log_Net_Income ~ log_GDP_per_capita + log_Population_total + log_Investment_total_perc_gdp',
                          data=reg_final_df[(reg_final_df.region == 'Combined Other Five Regions')]).fit()

print(normal_ols.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         log_Net_Income   R-squared:                       0.388
Model:                            OLS   Adj. R-squared:                  0.323
Method:                 Least Squares   F-statistic:                     5.924
Date:                Tue, 03 Nov 2020   Prob (F-statistic):            0.00291
Time:                        14:44:23   Log-Likelihood:                -36.555
No. Observations:                  32   AIC:                             81.11
Df Residuals:                      28   BIC:                             86.97
Df Model:                           3
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                      -146.3356     41.669     -3.512      0.002    -231.690     -60.981
log_GDP_per_capita              -11.9056      5.388     -2.210      0.035     -22.942      -0.869
log_Population_total             13.9607      4.901      2.848      0.008       3.921      24.001
log_Investment_total_perc_gdp     9.6971      4.874      1.990      0.056      -0.286      19.680
==============================================================================
Omnibus:                        1.083   Durbin-Watson:                   1.121
Prob(Omnibus):                  0.582   Jarque-Bera (JB):                0.970
Skew:                          -0.396   Prob(JB):                        0.616
Kurtosis:                       2.681   Cond. No.                     5.98e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.98e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [18]:
# Regression 3b

#normal_ols = sm.ols(formula='log_Net_Income ~ log_GDP_per_capita + log_Population_total + log_Investment_total_perc_gdp',
#                          data=reg_df).fit()

normal_ols = sm.ols(formula='log_regional_revenues ~ log_GDP_per_capita + log_Population_total + log_Investment_total_perc_gdp',
                          data=reg_final_df[(reg_final_df.region == 'Combined Other Five Regions')]).fit()

print(normal_ols.summary())

                              OLS Regression Results
=================================================================================
Dep. Variable:     log_regional_revenues   R-squared:                       0.750
Model:                               OLS   Adj. R-squared:                  0.708
Method:                    Least Squares   F-statistic:                     17.97
Date:                   Tue, 03 Nov 2020   Prob (F-statistic):           1.20e-05
Time:                           14:44:23   Log-Likelihood:                 22.268
No. Observations:                     22   AIC:                            -36.54
Df Residuals:                         18   BIC:                            -32.17
Df Model:                              3
Covariance Type:               nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                       -28.8085      9.409     -3.062      0.007     -48.577      -9.040
log_GDP_per_capita                0.1840      1.974      0.093      0.927      -3.964       4.332
log_Population_total              2.3710      1.493      1.589      0.130      -0.765       5.507
log_Investment_total_perc_gdp    -1.6868      0.951     -1.774      0.093      -3.685       0.311
==============================================================================
Omnibus:                        1.247   Durbin-Watson:                   0.742
Prob(Omnibus):                  0.536   Jarque-Bera (JB):                1.108
Skew:                          -0.393   Prob(JB):                        0.575
Kurtosis:                       2.231   Cond. No.                     9.52e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.52e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [19]:
## Reg with regional_revenue
#
#normal_ols = sm.ols(formula='log_regional_revenue ~ log_GDP_per_capita + log_Population_total + log_Investment_total_perc_gdp',
#                          data=reg_df).fit() #+ five_other_regions + east_asia + south_asia
#
#print(normal_ols.summary())

*FE by Region*

In [20]:
## FE
#
#FE_ols = sm.ols(sm.ols(formula='log_Net_Income ~ log_GDP_per_capita + log_Population_total + log_Investment_total_perc_gdp + C(region)-1',
#                          data=reg_df).fit())
#print(FE_ols.summary())